<div class="page-header">
  <h1>
    Spaces
    <a href="/spaces/new" class="btn btn-lg btn-success">New Space</a>
  </h1>
</div>

<!--Space Listing-->
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th></th>
        <th>Space Name</th>
        <th>Address</th>
        <th>Phone number</th>
        <th>Ambience</th>
        <th>Roominess</th>
        <th>Food & Drink</th>
        <th>Outlets</th>
        <th>Wifi</th>
        <th>Overall</th>
        <th>Reviews</th>
        <th>Actions</th>
      </tr>

      <% @spaces.order(name: :asc).each do |space| %>
      <tr>
        <td><img src='<%= space.picture %>' class='img-fluid' style="width: 100px" style "height: 100px"></td>
        <td><%= space.name %></td>
        <td><%= space.address %></td>
        <td><%= space.phone_number.phony_formatted(normalize: :US, format: :national) %></td>
        <td class="text-center">
          <% if space.reviews.average(:ambience).nil? %>
          <% else %>
          <%= space.reviews.average(:ambience).round(1) %>
          <% end %>
        </td>
        <td class="text-center">
          <% if space.reviews.average(:roominess).nil? %>
          <% else %>
          <%= space.reviews.average(:roominess).round(1) %>
          <% end %>
        </td>
        <td class="text-center">
          <% if space.reviews.average(:fooddrink).nil? %>
          <% else %>
          <%= space.reviews.average(:fooddrink).round(1) %>
          <% end %>
        </td>
        <td class="text-center">
          <% if space.reviews.average(:outlets).nil? %>
          <% else %>
          <%= space.reviews.average(:outlets).round(1) %></td>
          <% end %>
        <td class="text-center">
          <% if space.reviews.average(:wifi).nil? %>
          <% else %>
          <%= space.reviews.average(:wifi).round(1) %>
          <% end %>
        </td>
        <td class="text-center"><strong>
          <% if space.reviews.average(:overall).nil? %>
          <% else %>
          <%= space.reviews.average(:overall).round(1) %></strong></td>
          <% end %>
        <td>
          <div class="text-center"><%= Review.where(space_id: space.id).count %></div>
        </td>
        <td>
          <% if Review.where(space_id: space.id, user_id: current_user.id).exists? %>
          <a href="/reviews/<%= Review.find_by(space_id: space.id, user_id: current_user.id).id %>" class="btn btn-default btn-sm">Your Review</a>
          <% else %>
          <a href="/reviews/new" class="btn btn-success btn-sm">Add a Review</a>
          <% end %>
          <a href="/spaces/<%= space.id %>" class="btn btn-primary btn-sm">Space Details</a>
          <a href="/spaces/<%= space.id %>/edit" class="btn btn-warning btn-sm">Edit Space</a>
        </td>
    
      </tr>
      <% end %>
    </table>
    <%= paginate @spaces, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
