<div class="page-header">
  <h3>Space #<%= @space.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Address</dt>
      <dd><%= @space.address %></dd>

      <dt>Phone number</dt>
      <dd><%= @space.phone_number %></dd>

      <dt>Picture</dt>
      <dd><img src="<%= @space.picture %>" class="img-responsive"></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/spaces" class="btn btn-primary">
        Back
      </a>
      <a href="/spaces/<%= @space.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_space/<%= @space.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
