<!-- Validation failure messages -->
<% if @review.errors.any? %>
  <% @review.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Review #<%= @review.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_review/<%= @review.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      
      

      <!-- Label and input for space_id -->
      <div class="form-group">
        <label for="space_id" class="control-label">
          Space
        </label>

        <%= select_tag(:space_id, options_from_collection_for_select(Space.all, :id, :name, @review.space_id), :class => "form-control") %>
      </div>

      <!-- Label and input for ambience -->
      <div class="form-group">
        <label for="ambience" class="control-label">
          Ambience
        </label>

        <%= select_tag(:ambience, options_for_select(1..5), :class => "form-control") %>
      </div>

      <!-- Label and input for roominess -->
      <div class="form-group">
        <label for="roominess" class="control-label">
          Roominess
        </label>

        <%= select_tag(:roominess, options_for_select(1..5), :class => "form-control") %>
      </div>

      <!-- Label and input for fooddrink -->
      <div class="form-group">
        <label for="fooddrink" class="control-label">
          Fooddrink
        </label>

        <%= select_tag(:fooddrink, options_for_select(1..5), :class => "form-control") %>
      </div>

      <!-- Label and input for outlets -->
      <div class="form-group">
        <label for="outlets" class="control-label">
          Outlets
        </label>

        <%= select_tag(:outlets, options_for_select(1..5), :class => "form-control") %>
      </div>

      <!-- Label and input for wifi -->
      <div class="form-group">
        <label for="wifi" class="control-label">
          Wifi
        </label>

        <%= select_tag(:wifi, options_for_select(1..5), :class => "form-control") %>
      </div>
      
      <!-- Label and input for comments -->
      <div class="form-group">
        <label for="comments" class="control-label">
          Comments
        </label>

        <input type="text" id="comments" name="comments" value="<%= @review.comments %>" class="form-control">
      </div>

      <button class="btn btn-warning">
        Update Review
      </button>
      or
      <a href="/reviews/<%= @review.id %>">Cancel</a>
    </form>
  </div>
</div>
