<div class="page-header">
  <h1>
    Reviews
    <a href="/reviews/new" class="btn btn-lg btn-success">New Review</a>
  </h1>
</div><div class="row mb-1">
  <div class="col-md-12">
    <%= search_form_for @q, :class => collapse_search_form, :id => "reviews_filters" do |f| %>
      <p class="lead">Narrow results:</p>

        <div class="form-group">
  <%= f.label :wifi, "Wifi" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :wifi_gteq, :class => "form-control", :placeholder => "Wifi greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :wifi_lteq, :class => "form-control", :placeholder => "Wifi less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :outlets, "Outlets" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :outlets_gteq, :class => "form-control", :placeholder => "Outlets greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :outlets_lteq, :class => "form-control", :placeholder => "Outlets less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :fooddrink, "Fooddrink" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :fooddrink_gteq, :class => "form-control", :placeholder => "Fooddrink greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :fooddrink_lteq, :class => "form-control", :placeholder => "Fooddrink less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :roominess, "Roominess" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :roominess_gteq, :class => "form-control", :placeholder => "Roominess greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :roominess_lteq, :class => "form-control", :placeholder => "Roominess less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :ambience, "Ambience" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :ambience_gteq, :class => "form-control", :placeholder => "Ambience greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :ambience_lteq, :class => "form-control", :placeholder => "Ambience less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
          <%= f.label :created_at, "Created at" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='created_atgteqPicker'>
                  <%= f.text_field :created_at_gteq, :class => "form-control", :placeholder => "Created at greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='created_atlteqPicker'>
                  <%= f.text_field :created_at_lteq, :class => "form-control", :placeholder => "Created at less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#created_atgteqPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atlteqPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atgteqPicker').on("dp.change", function (e) {
                  $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#created_atlteqPicker').on("dp.change", function (e) {
                  $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

        <div class="form-group">
      <%= f.label :user_email_cont, "User email contains" %>
      <%= f.text_field :user_email_cont, :class => "form-control", :placeholder => "User email contains" %>
    </div>

<div class="form-group">
          <%= f.label :created_at, "Space Created at" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='spacegteqcreated_atPicker'>
                  <%= f.text_field :space_created_at_gteq, :class => "form-control", :placeholder => "Space Created at greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='spacelteqcreated_atPicker'>
                  <%= f.text_field :space_created_at_lteq, :class => "form-control", :placeholder => "Space Created at less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#spacegteqcreated_atPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#spacelteqcreated_atPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#spacegteqcreated_atPicker').on("dp.change", function (e) {
                  $('#spacelteqcreated_atPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#spacelteqcreated_atPicker').on("dp.change", function (e) {
                  $('#spacegteqcreated_atPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

      <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

      <a href="/reviews" class="btn btn-default btn-block mb-1">Clear filters</a>
    <% end %>
    <a class="btn btn-default btn-block mb-1" data-toggle="collapse" href="#reviews_filters">
      Show Filters
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>User</th>
        <th>Space</th>
        <th>Ambience</th>
        <th>Roominess</th>
        <th>Fooddrink</th>
        <th>Outlets</th>
        <th>Wifi</th>
        <th>Actions</th>
      </tr>

      <% @reviews.each do |review| %>
      <tr>
        <td>
          <% if review.user.present? %>
            <a href="/users/<%= review.user.id %>">
              <%= review.user.email %>
            </a>
          <% end %>
        </td>
        <td>
          <% if review.space.present? %>
            <a href="/spaces/<%= review.space.id %>">
              <%= review.space.created_at %>
            </a>
          <% end %>
        </td>
        <td><%= review.ambience %></td>
        <td><%= review.roominess %></td>
        <td><%= review.fooddrink %></td>
        <td><%= review.outlets %></td>
        <td><%= review.wifi %></td>
        <td>
          <a href="/reviews/<%= review.id %>" class="btn btn-primary">Show</a>
          
          <% if current_user == review.user %>
            <a href="/reviews/<%= review.id %>/edit" class="btn btn-warning">Edit</a>
            <a href="/delete_review/<%= review.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @reviews, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
